.small-icon {
    height: 18px;
    width: 18px;
}

.small-thin-icon {
    height: 18px;
    width: 14px;
}

.large-icon {
    height: 65px;
    width: 65px;
}

.temperature-heading-text {
    font-size: 32px;
    font-weight: bold;
}

.region-heading-text {
    font-size: 22px;
    font-weight: bold;
}